@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cover-container {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: white;
}

.shade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.6);
    width: 100%;
    height: 100vh;
}

.cover-container .shade img {
    width: 220px;
}

.title-info {
    font-weight: 500;
    font-size: 1.8em;
    margin: 1.8em;
}

.cover-container .shade div {
    transition: all 0.3s ease;
}

.cover-container .shade div:hover {
    transform: translateY(-5px) scale(1.02);
    transition: all 0.3s ease;
}

.cover-container .shade div:hover a {
    color: black;
    background-color: white;
}

.all-demo-link {
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 18px 50px;
    font-size: 1.5em;
    transition: all 0.3s ease;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 6em 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5em;
    column-gap: 6em;
}

.cards .card {
    transition: all 0.3s ease;
}

.cards .card:hover {
    transform: translateY(-10px) scale(1.02);
    transition: all 0.3s ease;
}

.card-title {
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 1.8em;
}

.cards .card h2 {
    font-weight: 600;
}

.cards .card img {
    box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #191919;
    color: white;
    padding: 2em;
}

.feature-title {
    font-size: 2.5em;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 3em;
}

.feature {
    text-align: center;
    transition: all 0.3s ease;
    padding: 3em;
}

.feature:hover {
    transform: skew(2deg, 2deg);
    transition: all 0.3s ease;
    box-shadow: 1px 1px 30px rgba(173, 216, 230, 0.115);
}

.features .feature i {
    font-size: 2.8em;
    padding: 0.4em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #303030;
    color: rgb(109, 178, 201);
}

.features .feature h2 {
    font-weight: 600;
    font-size: 1.4em;
}

.features .feature p {
    color: rgba(198,201,216,.75);
    font-size: 1em;
}

.Purchase{
    background-image: url("../images/1.png");
    background-repeat: repeat;
    padding: 150px 0;
    background-size: 50%;
}

.purchase_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.purchase_item div {
    transition: all 0.4s ease;
}

.purchase_item div:hover {
    transform: translateY(-5px) scale(1.02);
    transition: all 0.4s ease;
}

.purchase_item div:hover a {
    background: rgba(0, 0, 0, 0);
    color: black;
    transition: all 0.4s ease;
    font-weight: 600;
}

.purchase-title {
    margin-bottom: 50px;
}

.purchase_link
{
    text-decoration: none;
    padding: 20px 70px;
    border: 3px solid #000;
    background-color: black;
    color: white;
    font-size: 1.3em;
    transition: all 0.3s ease;
}

.purchase_link {

}

footer .item
{
    background-color:#000000;
    color: white;
    padding:48px;
    text-align: center;
    font-weight: 400;
    font-size: 1.3em;
}

/* Responsive design starts here */
@media only screen and (min-width: 824px) and (max-width: 1366px) {

    body {
        font-size: 0.9rem;
    }

    .card-container {
        width: 100%;
    }

    .cards {
        row-gap: 1em;
        column-gap: 3em;
        padding: 0 5%;
    }

    .features {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        padding: 2em;
        width: 100%;
    }

    .feature {
        padding: 1em;
    }
}

/* for Pixel-2 and same type devices landscape */
@media only screen and (min-width: 820px) and (max-height: 420px) {
    body {
        font-size: 0.8em;
    }

    .features {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 823px) {
    
    .card-container {
        margin: 2em 0;
    }

    .card-title {
        font-size: 3em;
        font-weight: 800;
        margin-bottom: 1.3em;
    }

    .cards {
        row-gap: 1em;
        column-gap: 2.5em;
        padding: 0 5%;

    }

    .feature-container {
        padding: 1em;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        padding: 1em;
        width: 100%;
    }

    .feature {
        padding: 1em;
    }

    .Purchase {
        padding: 40px 0;
        margin: 0;
    }

    .purchase_item {
        padding: 0;
        margin-bottom: 80px;
    }

}

/* for iPhone-X and iPhone Plus series Landscape */
@media only screen and (min-width: 760px) and (max-height: 375px) {
    body {
        font-size: 0.7em;
    }

    .features {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    
    .cover-container .shade {
        text-align: center;
        font-size: 0.7em;
    }

    .card-container {
        margin: 1em 0;
    }

    .card-title {
        font-size: 2em;
    }

    .cards {
        grid-template-columns: 1fr;
        row-gap: 3em;
    }

    .card {
        padding: 0 0 1em 0;
        border: 1px solid lightgray
    }

    .cards .card h2 {
        margin: 0;
        text-align: center;
    }

    .feature-container {
        font-size: 0.7em;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;
    }

    .features .feature h2 {
        font-size: 1.5em;
        font-weight: 600;
    }

    .Purchase {
        font-size: 0.8em;
    }

    footer .item {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 375px) {
    .features {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 280px) {
    body {
        font-size: 0.8em;
    }
}
